Test check

In [8]:
import findspark
findspark.init('/home/nasty280700/spark-3.2.4-bin-hadoop3.2')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import count

In [2]:
!pip install pandas
!pip install pyarrow
!pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/nasty280700/.local/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nasty280700/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/nasty280700/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/nasty280700/.local/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/nasty280700/.local/lib/python3.10/site-packages (13.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/nasty280700/.local/lib/python3.10/site-packages (from pyarrow) (1.25.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in /home/nasty280700/.local/lib/python3.10/site-packages (2023.7.0)
Requirement already satisfied: fsspec in /home/nasty280700/.local/lib/python3.10/site-packages (from fastparquet) (2023.6.0)
Requirement already satisfied: packaging in /home/nasty280700/.local/lib/python3.10/site-packages (from fastparquet) (23.1)
Requirement already satisfied: cramjam>=2.3 in /home/nasty280700/.local/lib/python3.10/site-packages (from fastparquet) (2.7.0)
Requirement already satisfied: pandas>=1.5.0 in /home/nasty280700/.local/lib/python3.10/site-packages (from fastparquet) (2.0.3)
Requirement already satisfied: numpy>=1.20.3 in /home/nasty280700/.local/lib/python3.10/site-packages (from fastparquet) (1.25.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.5.0->fastparquet) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nasty280700/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/nasty280700/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [3]:
print("<<---***--- START ---***--->>")

spark = (SparkSession
 .builder
 .appName('pyspark_example')
 .enableHiveSupport()
 .getOrCreate())
 
rows = [
(1,"Tom", "Green", "Washington"),(2,"Alice", "Black", "Washington"),
(3,"Jimmy", "Kimmel", "Texas"), (4,"Bob", "White", "Texas"),
(5,"Kenny", "West", "Atlanta"), (6,"Kate", "Tompson", "Texas")
]

print(type(rows))
print(rows[1])
print(type(rows[1]))

schema = "customer_id BIGINT, fname STRING, lname STRING, state STRING"
customersDF = spark.createDataFrame(rows, schema)
customersDF.show()

customersDF.createOrReplaceTempView("tmp_clients")

clientsDF = spark.sql("""
select distinct state as states from tmp_clients
""")

clientsDF.show()

print("<<---***--- END ---***--->>")
spark.stop()

<<---***--- START ---***--->>

23/08/27 12:26:40 WARN Utils: Your hostname, nasty280700-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/08/27 12:26:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/nasty280700/spark-3.2.4-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.4.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/27 12:26:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<class 'list'>
(2, 'Alice', 'Black', 'Washington')
<class 'tuple'>

+-----------+-----+-------+----------+
|customer_id|fname|  lname|     state|
+-----------+-----+-------+----------+
|          1|  Tom|  Green|Washington|
|          2|Alice|  Black|Washington|
|          3|Jimmy| Kimmel|     Texas|
|          4|  Bob|  White|     Texas|
|          5|Kenny|   West|   Atlanta|
|          6| Kate|Tompson|     Texas|
+-----------+-----+-------+----------+

+----------+
|    states|
+----------+
|     Texas|
|Washington|
|   Atlanta|
+----------+

<<---***--- END ---***--->>

Project assignment 2
task 2.1
1

In [12]:
import pandas as pd

spark = (SparkSession
         .builder
         .appName("Task1")
         .enableHiveSupport()
         .getOrCreate())

data = [
    Row(row_id=1, discipline="athletics", season="summer"),
    Row(row_id=2, discipline="swimming", season="summer"),
    Row(row_id=3, discipline="artistic gymnastics", season="summer"),
    Row(row_id=4, discipline="cycling road", season="summer"),
    Row(row_id=5, discipline="volleyball", season="summer"),
    Row(row_id=6, discipline="bobsleigh", season="winter"),
    Row(row_id=7, discipline="ice hockey", season="winter"),
    Row(row_id=8, discipline="biathlon", season="winter"),
    Row(row_id=9, discipline="ice skating", season="winter"),
    Row(row_id=10, discipline="snowboarding", season="winter")
]


df = spark.createDataFrame(data)

df.show()
df.coalesce(1).write.option("sep", "\t").csv("task1_olymp_folder.csv", header=True, mode="overwrite")
df.toPandas().to_csv("task1_olymp.csv", index = False, sep="\t")

spark.stop()

+------+-------------------+------+
|row_id|         discipline|season|
+------+-------------------+------+
|     1|          athletics|summer|
|     2|           swimming|summer|
|     3|artistic gymnastics|summer|
|     4|       cycling road|summer|
|     5|         volleyball|summer|
|     6|          bobsleigh|winter|
|     7|         ice hockey|winter|
|     8|           biathlon|winter|
|     9|        ice skating|winter|
|    10|       snowboarding|winter|
+------+-------------------+------+

Project assignment 2
task 2.1
2

In [5]:
spark = (SparkSession
         .builder
         .appName("Task2")
         .enableHiveSupport()
         .getOrCreate())

df = spark.read.option("delimiter", ";").csv("Athletes.csv", header=True)

df.createOrReplaceTempView("athletes")

df.show()

df_count = spark.sql("""
select Discipline, 
    count(Name) as athletes_count 
from athletes 
group by Discipline
""")
df_count.show()

df_count.write.parquet("discipline_count_folder.parquet", mode="overwrite")
df_count.toPandas().to_parquet("discipline_count.parquet", index = False)

spark.stop()

+--------------------+--------------------+-------------------+
|                Name|                 NOC|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

+--------------------+--------------+
|          Discipline|athletes_count|
+--------------------+--------------+
|              Tennis|           178|
|              Boxing|           270|
|   Marathon Swimming|            49|
|                Golf|           115|
|              Rowing|           496|
|   Baseball/Softball|           220|
|                Judo|           373|
|             Sailing|           336|
|            Swimming|           743|
|Cycling BMX Frees...|            19|
|          Basketball|           280|
|            Handball|           343|
| Rhythmic Gymnastics|            95|
|              Karate|            77|
|           Triathlon|           106|
|           Badminton|           164|
|        Canoe Sprint|           236|
|           Athletics|          2068|
|       Cycling Track|           208|
|    Beach Volleyball|            90|
+--------------------+--------------+
only showing top 20 rows

In [6]:
import pyarrow.parquet as pq

table = pq.read_table("discipline_count.parquet")
#table = pq.read_table("/home/nasty280700/spark-3.2.4-bin-hadoop3.2/discipline_count.parquet")

df = table.to_pandas()

df.head()

          Discipline  athletes_count
0             Tennis             178
1             Boxing             270
2  Marathon Swimming              49
3               Golf             115
4             Rowing             496

Project assignment 2
task 2.1
3

In [9]:
from pyspark.sql.functions import initcap

spark = (SparkSession
         .builder
         .appName("Task3")
         .enableHiveSupport()
         .getOrCreate())

df_file = spark.read.option("delimiter", ";").csv("Athletes.csv", header=True)

df_count = df_file.groupBy("Discipline").agg(count("Name").alias("athletes_count"))
df_count.show()

data = [
    Row(row_id=1, discipline="athletics", season="summer"),
    Row(row_id=2, discipline="swimming", season="summer"),
    Row(row_id=3, discipline="artistic gymnastics", season="summer"),
    Row(row_id=4, discipline="cycling road", season="summer"),
    Row(row_id=5, discipline="volleyball", season="summer"),
    Row(row_id=6, discipline="bobsleigh", season="winter"),
    Row(row_id=7, discipline="ice hockey", season="winter"),
    Row(row_id=8, discipline="biathlon", season="winter"),
    Row(row_id=9, discipline="ice skating", season="winter"),
    Row(row_id=10, discipline="snowboarding", season="winter")
]

df_task1 = spark.createDataFrame(data)
df_task1 = df_task1.withColumnRenamed("discipline", "Discipline")
df_task1 = df_task1.withColumn("Discipline", initcap(df_task1["Discipline"]))


res_df = df_count.join(df_task1, "Discipline", 'inner')
res_df.show()


res_df.write.parquet("1_join_2_folder.parquet", mode="overwrite")
res_df.toPandas().to_parquet("1_join_2.parquet", index = False)

spark.stop()

+--------------------+--------------+
|          Discipline|athletes_count|
+--------------------+--------------+
|              Tennis|           178|
|              Boxing|           270|
|   Marathon Swimming|            49|
|                Golf|           115|
|              Rowing|           496|
|   Baseball/Softball|           220|
|                Judo|           373|
|             Sailing|           336|
|            Swimming|           743|
|Cycling BMX Frees...|            19|
|          Basketball|           280|
|            Handball|           343|
| Rhythmic Gymnastics|            95|
|              Karate|            77|
|           Triathlon|           106|
|           Badminton|           164|
|        Canoe Sprint|           236|
|           Athletics|          2068|
|       Cycling Track|           208|
|    Beach Volleyball|            90|
+--------------------+--------------+
only showing top 20 rows

+-------------------+--------------+------+------+
|         Discipline|athletes_count|row_id|season|
+-------------------+--------------+------+------+
|          Athletics|          2068|     1|summer|
|           Swimming|           743|     2|summer|
|Artistic Gymnastics|           187|     3|summer|
|       Cycling Road|           190|     4|summer|
|         Volleyball|           274|     5|summer|
+-------------------+--------------+------+------+

In [10]:
#table = pq.read_table("1_join_2.parquet")
table = pq.read_table("/home/nasty280700/spark-3.2.4-bin-hadoop3.2/1_join_2.parquet")

df = table.to_pandas()

df.head()

            Discipline  athletes_count  row_id  season
0            Athletics            2068       1  summer
1             Swimming             743       2  summer
2  Artistic Gymnastics             187       3  summer
3         Cycling Road             190       4  summer
4           Volleyball             274       5  summer